@import '~font-awesome/less/variables.less';

@import 'variables';

#mbMountPoint {
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.mb-app {
  @mb-app-header-height: 80px;
  @mb-app-footer-height: 50px;

  width: 100%;
  padding-top: @mb-app-header-height;

  .mb-app-header {
    position: fixed;
    z-index: 999999;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 40px;
    height: @mb-app-header-height;
    transition: background 0.4s;

    &.translucent {
      background: rgba(0, 0, 0, 0.92);
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.4);
    }
  }

  .mb-app-footer {
    color: @gray-text-color;
    height: @mb-app-footer-height;
    margin: 40px 40px 0 40px;
    border-top: 1px solid #333;

    .copyright {
      float:left;
      font-size: 12px;
      line-height: @mb-app-footer-height;

      a {
        text-decoration: underline;
      }
    }

    .github {
      float: right;
      font-size: 14px;
      line-height: @mb-app-footer-height;

      &::before {
        content: '@{fa-var-github} ';
        font-family: FontAwesome;
      }
    }
  }
}

.mb-logo {
  width: 157px;
  height: 70px;
  background: url(images/mb-logo.png) no-repeat left 10px;
}
