@import '~font-awesome/less/variables.less';
@import '~font-awesome/less/path.less';

@import 'variables';

.mb-lolomo {

}

.mb-lolomo-row {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;

  &:hover {
    .mb-lolomo-row-head {
      .title {
        color: @link-hover-color;

        &::after {
          content: ' @{fa-var-chevron-right}';
          font-family: FontAwesome;
          font-size: smaller;
        }
      }
    }
  }
}

.mb-lolomo-row-head {
  padding-left: 40px;
  margin-bottom: 20px;

  .title {
    font-size: @font-size-h3;
  }
}

.mb-lolomo-row-content {
  max-height: 420px;
  padding-left: 40px;
}




.mb-cover-list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}

.mb-cover-list-item {
  max-width: 300px;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  transition: all 0.2s;

  &:hover {
    z-index: 2;
    opacity: 1 !important;
    transform: scale(1.2) translate(20px, 0);
    box-shadow: 0 -5px 15px 15px rgba(0, 0, 0, 0.4);

    & ~ .mb-cover-list-item {
      transform: translate(40px, 0);
    }
  }
}




.mb-cover {
  width: 100%;
  height: 100%;

  &:hover {
    border: 1px solid white;
  }

  .cover-image {
    width: 100%;
    height: 100%;
    background-color: #202020;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.mb-cover-list:hover .mb-cover {
  opacity: 0.4;
}

.mb-cover-list:hover .mb-cover:hover {
  opacity: 1;
}




.mb-lolomo-size(@factor) {
  .mb-cover-list-item {
    width: 300px * @factor;
  }

  .mb-lolomo-row-content {
    height: 420px * @factor;
  }
}

.mb-lolomo-size(1);

@media (max-width: 1920px) {
  .mb-lolomo-size(0.8);
}

@media (max-width: 1600px) {
  .mb-lolomo-size(0.67);
}

@media (max-width: 1440px) {
  .mb-lolomo-size(0.58);
}

@media (max-width: 1280px) {
  .mb-lolomo-size(0.5);
}

@media (max-width: 1024px) {
  .mb-lolomo-size(0.42);
}
