@import '~font-awesome/less/variables.less';

@import 'variables';


.mb-lolomo-row {
  padding-top: @mb-app-padding;
  padding-bottom: @mb-app-padding;
  overflow-x: hidden;

  .row-head {
    padding-left: @mb-app-padding;
    margin-bottom: 20px;
  }

  .row-content {
    padding-left: @mb-app-padding;
  }



  &:hover, &.has-selection {
    .row-head {
      .title {
        color: @link-hover-color;

        &::after {
          content: ' @{fa-var-chevron-right}';
          font-family: FontAwesome;
          font-size: smaller;
        }
      }
    }
  }

  &.no-selection {
    .mb-lomo-covers-cell {
      opacity: 1;
    }
  }
}

.mb-lolomo
{
  .mb-lomo-covers {
    .mb-lomo-covers-cell.selected {
      .selection-indicator {
        opacity: 1;

        .arrow {
          transform: translateY(5px);
        }
      }
    }
  }
}
