@import 'variables';

.mb-mo-jumbotron {
  .content {
    padding-left: @mb-app-padding;
    padding-top: @mb-app-padding / 1.5;

    .rating-and-year {
      .mb-rating, .year {
        display: inline-block;
        margin-right: 24px;
      }

      .year {
        border: 1px solid @text-color;
        padding: 0 4px 0 4px;
      }
    }

    .details {
      margin-top: 24px;

      .mb-mo-detail-row {
        line-height: 180%;
      }
    }

    .summary {
      margin-top: 24px;
    }
  }
}
