.mb-mo-slides {
  position: relative;

  .slides {
    .slide {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0,0,0,1) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
  }
}
