@import 'variables';

.mb-tabs {
  width: 100%;
  position: relative;

  .tab-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;

    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 5px;
        padding: 10px 40px;

        &.selected {
          border-bottom: 5px solid @mb-theme-color;
          a {
            color: @link-hover-color;
          }
        }
      }
    }
  }

  .tab-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.2s;
    transform: translateY(-50px);

    &.selected {
      opacity: 1;
      transform: translateY(0);
    }

    .mb-tab {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}
